.Swiper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.OutDivision {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    overflow: scroll;
}

.StringDivision {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    text-align: center;
    margin: 5px;
}