.Swiper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.DescriptionOutDivision {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 420px;
    height: 460pxt;
    max-height: 460px;
    overflow: auto;
    margin: 0 auto;
}

.StringDivision {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}