.Swiper {
    margin-top: 30px;
    width: 80%;
    min-width: 500px;
    height: 100%;
    min-height: 500px;
    margin-bottom: 30px;
}

.OutDivision {
    display: flex;
    align-items: center;
    justify-content: center;
}