.Swiper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.HomeOutDivision {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    max-width: 400px;
    height: 500px;
    max-height: 500px;
    margin: 0 auto;
}