.Swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.OutDivision {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 420px;
    height: fit-content;
    max-height: 460px;
}