.MainWrapper {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    max-width: 426px;
    max-height: 720px;
    background-color: white;
    margin: 0 auto;
}

.ButtonWrapper {
    margin: 5px;
    width: 12%;
}

.HomeButton {
    width: 25%;
    height: 20%;
    background-color: white;
}

.ButtonsWrapper {
    position: static;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    height: 120px;
    max-height: 120px;
    align-items: center;
    justify-content: center;
}

.Title {
    height: 20%;
    max-height: 120px;
    text-align: center;
}