.Main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
}

.ButtonWrapper {
    margin: 5px;
    width: 12%;
}

.HomeButton {
    width: 25%;
    height: 20%;
    background-color: white;
}

.ButtonsWrapper {
    position: static;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    height: 72px;
    align-items: center;
    justify-content: center;
}

.Title {
    height: 20%;
    text-align: center;
}