.Main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 400px;
    height: 100%;
    min-height: 620px;
    background-color: white;
}

.ButtonWrapper {
    padding: 2px;
    width: 12%;
}

.HomeButton {
    width: 25%;
    height: 70px;
    background-color: white;
}

.ButtonsWrapper {
    display: flex;
    flex-direction: row;
    height: 72px;
    align-items: center;
    justify-content: center;
}

.Title {
    padding-top: 30px;
    text-align: center;
    font-size: 14pt;
    font-family: sans-serif;
}